<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
<meta name="google-site-verification" content="X4r2X97hWqKnsF9e0bXxMO6UQ8Tw5MopgHTaOB-RDBE" />
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/assets/favicon-16x16.png">
<link rel="manifest" href="{{site.url}}/assets/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
